<table class="table table-hover table-bordered table-condensed simple-data-table">
  <thead>
  <tr>
    {{each(i, column) columns}} <th class="highlightable">${column.title}</th> {{/each}}
  </tr>
  </thead>
  <tbody>
  {{each(i, item) items}}
    <tr 
      id="${tableId}-${item.id}" 
      class="clickable-table-row ${item.readByRecipient == false ? 'unread-message' : ''}" 
      name="${item.id}"
      data-row-key="${item.id}" 
      data-table-name="${getDataTableName(item)}" 
    >
    {{each(j, column) columns}} 
      <td class="highlightable">${getColumnValue(column, item)}</td>
    {{/each}}
    </tr>
    <tr style="display:none" id="${tableId}-${item.id}-content" class="row-content"><td colspan="${columns.length}"></td></tr>
  {{/each}}
  <tr class="simple-data-table-footer">
    <td class="simple-data-table-footer" colspan='${columns.length}'>
      <p><span>${title} ${items.length == 0 ? '0' : '1'}-<wbr>${items.length}</span></p>
    </td>
  </tr>
  </tbody>
</table>
