<!--
  WDean Medical is distributed under the
  GNU Lesser General Public License (GNU LGPL).
  For details see: http://www.wdeanmedical.com
  copyright 2013-2014 WDean Medical
--> 

<div class="modal fade" id="modal-event" tabindex="-1" role="dialog" aria-labelledby="modal-event" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"> ${title}</h4>
      </div>
    <div class="modal-body">
   <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="app-appt-start" class="col-sm-3 control-label">Start Time</label>
      <div class="col-sm-6"">
        <input id="app-appt-start" type="text" class="form-control" placeholder="hh:mm am|pm">
        <span id="app-appt-start-validation" class="form-element-error"></span>
      </div>
    </div> 
    <div class="form-group">
      <label for="app-appt-end" class="col-sm-3 control-label">End Time</label>
      <div class="col-sm-6"">
        <input id="app-appt-end" type="text" class="form-control" placeholder="hh:mm am|pm">
        <span id="app-appt-end-validation" class="form-element-error"></span>
      </div>
    </div> 
    <div class="form-group">
      <label for="app-appt-clinician" class="col-sm-3 control-label">Clinician</label>
      <div class="col-sm-6">
        <select id="app-appt-clinician" class="form-control"></select>
        <input id="app-appt-clinician-text" type="text" class="form-control initially-no-display" readonly="readonly">
        <span id="app-appt-clinician-validation" class="form-element-error"></span>
      </div>
    </div>
    <div class="form-group">
      <label for="app-appt-patient" class="col-sm-3 control-label">Patient</label>
      <div class="col-sm-6">
        <select id="app-appt-patient" class="form-control"></select>
        <input id="app-appt-patient-text" type="text" class="form-control initially-no-display" readonly="readonly">
        <span id="app-appt-patient-validation" class="form-element-error"></span>
      </div>
    </div>
    <div class="form-group">
      <label for="app-appt-desc" class="col-sm-3 control-label">Description</label>
      <div class="col-sm-6"><textarea id="app-appt-desc" class="form-control" rows="5"></textarea></div>
      <span id="app-appt-desc-validation" class="form-element-error"></span>
    </div>
    </form>
    </div>
  <div class="modal-footer">
    {{if deleteButton != null}}
      <button id="app-appt-delete" type="button" class="btn btn-danger">${deleteButton}</button>
    {{/if}}
    {{if submitButtonLabel != null}}
      <button type="button" id="app-appt-submit" class="btn btn-primary">${submitButtonLabel}</button>
    {{/if}}
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>       
  </div>
 </div>
 </div>
</div>