{{each items}}
  <div class="list-box">
    <img src="images/rx.png" class="list-box-icon"/>
    <span class="list-box-title">${medication.name}</span><br/>
    <a class="list-box-info" href="#">
      <img src="images/info.png"/><span class="list-box-info">About This Medication</span>
    </a><br/>
    <span class="list-box-body-text">Instructions: ${instructions} </span><br/>
    <span class="list-box-body-text">Prescribed by 
      ${util_buildFullName(prescriber.firstName, prescriber.middleName, prescriber.lastName)},
      ${prescriber.credential.name}  on  ${dateFormat(date, 'mm/dd/yyyy')}
    </span><br/>
  </div>
{{/each}}
