<table class="simple-data-table">
  <tr class='data_table_header'>
    {{each(i, column) columns}} <th class="highlightable" width="${DEFAULT_TABLE_WIDTH/columns.length}">${column.title}</th> {{/each}}
  </tr>
  {{each(i, item) items}}
    <tr id="${tableId}-${item.id}" 
        class="${clickable ? 'clickable' : ''} ${i % 2 == 1 ? 'even' : 'odd'} ${item.readByRecipient == false ? 'unread-message' : ''}" 
        data-table-name="${getDataTableName(item)}" 
        name="${item.id}">
    {{each(j, column) columns}} 
      <td class="highlightable" width="${DEFAULT_TABLE_WIDTH/columns.length}">${getColumnValue(column, item)}</td>
    {{/each}}
    </tr>
    <tr id="${tableId}-${item.id}-content" class="row-content"><td colspan="${columns.length}"></td></tr>
  {{/each}}
  <tr class="simple-data-table-footer">
    <td class="simple-data-table-footer" colspan='${columns.length}'>
      <p><span>${title} ${items.length == 0 ? '0' : '1'}-<wbr>${items.length}</span></p>
    </td>
  </tr>
</table>
